extends layout

block content
  h1 #{title}
  form(method='POST', action='/items/addItem')
    #form-group
      label Item Name:
      input.form-control(name='itemName', type='text')
    #form-group
      label Desired Price:
      textarea.form-control(name='desiredPrice', type='number')
      label Currency:
      textarea.form-control(name='currency', type='text')
    br
    input.btn.btn-primary(type='submit', value='Submit')
